[submodule "circuit-board-design"]
	path = circuit-board-design
	url = https://github.com/732857315/skill_circuit-board-design.git
	branch = main

[submodule "circuit-board-design-dependencies/KiCAD-MCP-Server"]
	path = circuit-board-design-dependencies/KiCAD-MCP-Server
	url = https://github.com/mixelpixx/KiCAD-MCP-Server.git
	shallow = true

[submodule "circuit-board-design-dependencies/kicad-python"]
	path = circuit-board-design-dependencies/kicad-python
	url = https://gitlab.com/kicad/code/kicad-python.git
	shallow = true

[submodule "circuit-board-design-dependencies/kicad-skip"]
	path = circuit-board-design-dependencies/kicad-skip
	url = https://github.com/psychogenic/kicad-skip.git
	shallow = true
